.dialog-content {
    display: flex;
    flex-direction: column;
    min-width: 500px; /* Adjust the width as needed */
    padding: 20px;
  }
  .table-container {
    overflow-x: auto;
    max-height: 400px; /* Adjust the height as needed */
  }
  .mat-table {
    width: 100%;
  }
  .mat-dialog-actions {
    justify-content: flex-end;
    padding: 10px 20px;
  }
  .search{
    flex: 1 1 auto;
    display: flex;
    width: max-content;
    padding: 10px;

  }
  .stretch-field {
width: 100%;  }
  


  